.buttons {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #fff;
    border: 1px solid transparent;
    border-radius: .25rem;
    border-color: #1861ac;
    background-color: #1abc9c;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border: 1px solid #1abc9c;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    font-family: inherit;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    align-items: flex-start;
    height: 38px;
}