


/*                                            BILDER                                               */
/*/////////////////////////////////////////////////////////////////////////////////////////////////*/

.awesome-img {
    width: 600px;
    height: 310px;
    overflow: hidden;
    position: relative;
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    z-index: 1;
    display: block
}

.awesome-info {
    background-color: #272727;
    height: 25%;
    padding: 20px 30px 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 1;
    display: block;
}

    .awesome-info h3 {
        color: #fff;
    
        margin-bottom: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .awesome-info p {
        color: #aaa;
   
        bottom: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

/**/

/**/



