@model Portefolio_webApp.Models.Bruker;
<link href="~/css/UpsertBruker.css" rel="stylesheet" />
<link href="~/css/jquery.Jcrop.min.css" rel="stylesheet" />
<link href="~/css/jquery.Jcrop.min.css" rel="stylesheet" />
<link href="~/css/Buttons.css" rel="stylesheet" />

@{
    var BrukerInnhold = (Portefolio_webApp.Models.Bruker)ViewData["Innlogget_Bruker"];

}

<div class="container">
    <div class="main-body">


        @section css{
            <link href="~/css/jquery.Jcrop.min.css" rel="stylesheet" />
        }

        <div class="modal" id="myprofilecrop" tabindex="-1" role="dialog" aria-labelledby="cropmodel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                        <h4 class="modal-title text-center" id="cropmodel">Update Profile Picture</h4>
                    </div>

                    <div class="modal-body text-center">
                        <div id="views" class="m-t-15"></div>
                    </div>
                    <div class="modal-footer">
                        <form form method="post" , new enctype="multipart/form-data" id="formimg">
                            <button id="cropbutton" class="btn btn-primary" type="submit">Save</button>
                            <button id="rotatebutton" class="btn btn-default" type="button">Rotate</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!-- END TEST -->


        <form method="post" , new enctype="multipart/form-data">
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <div class="mt-3">
                                    <div class="form-group row">
                                        <div class="container pimgholder">
                                            <label for="imgInp">
                                              <img id="imge" src="@BrukerInnhold.Profilbilde" alt="Admin" class="rounded-circle profilimg" width="150">
                                                <img src="~/resources/upload_21028.png" class="rounded-circle img-top" width="200">
                                            </label>
                                            <input type="file" class="img" id="imgInp" name="files" accept="image/*" style="display: none">
                                        </div>


                                    </div>
                                    <div class="modal" id="myprofilecrop" tabindex="-1" role="dialog" aria-labelledby="cropmodel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">

                                                    <h4 class="modal-title text-center" id="cropmodel">Update Profile Picture</h4>
                                                </div>
                                                <div>
                                                    <div class="modal-body text-center">
                                                        <div id="views" class="m-t-15"></div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button id="cropbutton" class="btn btn-primary" type="submit">Save</button>
                                                        <button id="rotatebutton" class="btn btn-default" type="button">Rotate</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @if (Model.Id != null)
                {
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Email" />
                }


                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="rowinfo">
                                <div>
                                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                    <div class="form-group row">
                                        <div class="col-2">
                                            <label asp-for="Navn" class="fattext" style="margin-top: 4px">Name</label>
                                        </div>
                                        <div class="col-9">
                                            <input asp-for="Navn" class="form-control" style="height:30px; margin-top: 4px" />
                                            <span asp-validation-for="Navn" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                @if (Model.Id == null)
                                {
                                    <hr>
                                    <div class="form-group row">
                                        <div class="col-2">
                                            <label asp-for="Email" class="fattext" class="control-label" style="margin-top: 4px">Email</label>
                                        </div>
                                        <div class="col-9">
                                            <input asp-for="Email" class="form-control" style="height:30px; margin-top: 15px" />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-2">
                                            <label class="fattext" class="control-label" style="margin-top: 4px">Password</label>
                                        </div>
                                        <div class="col-9">
                                            <input name="password" class="form-control" style="height:30px; margin-top: 15px" />
                                            <span class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-2">
                                            <label class="fattext" class="control-label" style="margin-top: 4px">Retype new Password</label>
                                        </div>
                                        <div class="col-9">
                                            <input name="passwordRetyp" class="form-control" style="height:30px; margin-top: 15px" />
                                            <span class="text-danger"></span>
                                        </div>
                                    </div>
                                }

                                <hr>
                                <div>

                                    <div class="form-group row">
                                        <div class="col-2">
                                            <label asp-for="Alder" class="fattext" style="margin-top: 4px">Age</label>
                                        </div>
                                        <div class="col-9">
                                            <input asp-for="Alder" class="form-control" style="height:30px; margin-top: 4px" />
                                            <span asp-validation-for="Alder" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div>

                                    <div class="form-group row">
                                        <div class="col-2">
                                            <label asp-for="Stilling" class="fattext" style="margin-top: 4px">Trade</label>
                                        </div>
                                        <div class="col-9">
                                            <input asp-for="Stilling" class="form-control" style="height:30px; margin-top: 4px" />
                                            <span asp-validation-for="Stilling" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div>
                                        <hr />
                                        <div>

                                            <div class="form-group row">
                                                <div class="col-2">
                                                    <label asp-for="Bosted" class="fattext" style="margin-top: 4px">Location</label>
                                                </div>
                                                <div class="col-9">
                                                    <input asp-for="Bosted" class="form-control" style="height:30px; margin-top: 4px" />
                                                    <span asp-validation-for="Bosted" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div>
                                                <hr />
                                                <div>

                                                    <div class="form-group row">
                                                        <div class="col-2">
                                                            <label asp-for="Tlf" class="fattext" style="margin-top: 4px">Phone</label>
                                                        </div>
                                                        <div class="col-9">
                                                            <input asp-for="Tlf" class="form-control" style="height:30px; margin-top: 4px" />
                                                            <span asp-validation-for="Tlf" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <hr />
                                                        <div>

                                                            <div class="form-group row">
                                                                <div class="col-2">
                                                                    <label asp-for="Bio" class="fattext" style="margin-top: 5px">About Me</label>
                                                                </div>
                                                                <div class="col-9">
                                                                    <textarea asp-for="Bio" rows="4" cols="50" class="form-control" style="height:150px; margin-top: 5px"></textarea>
                                                                    <span asp-validation-for="Bio" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                            <hr />
                                                            <div style="text-align: center;">

                                                                <button type="submit" value="Upload" class="buttons btn btn-primary form-control" style="width: 300px;">
                                                                    @(ViewData["Token"] == null? "Create new user" : "Update profile" )

                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts{

    <script src="~/js/jcrop/jquery.Jcrop.min.js"></script>
    <script src="~/js/ImageCrop.js"></script>
    <partial name="_ValidationScriptsPartial" />
}
