@model Portefolio_webApp.Models.Bruker;
<link href="~/css/UpsertBruker.css" rel="stylesheet" />
<link href="~/css/jquery.Jcrop.min.css" rel="stylesheet" />
<link href="~/css/jquery.Jcrop.min.css" rel="stylesheet" />
<link href="~/css/Buttons.css" rel="stylesheet" />

@{
    var BrukerInnhold = (Portefolio_webApp.Models.Bruker)ViewData["Innlogget_Bruker"];

}

<div class="container">
    <div class="main-body">


        @section css{
            <link href="~/css/jquery.Jcrop.min.css" rel="stylesheet" />
        }

        <div class="modal" id="myprofilecrop" tabindex="-1" role="dialog" aria-labelledby="cropmodel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                        <h4 class="modal-title text-center" id="cropmodel">Update Profile Picture</h4>
                    </div>

                    <div class="modal-body text-center">
                        <div id="views" class="m-t-15"></div>
                    </div>
                    <div class="modal-footer">
                        <form form method="post" , new enctype="multipart/form-data" id="formimg">
                            <button id="cropbutton" class="btn btn-primary" type="submit">Save</button>
                            <button id="rotatebutton" class="btn btn-default" type="button">Rotate</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!-- END TEST -->


        <form method="post" , new enctype="multipart/form-data">
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <div class="mt-3">
                                    <div class="form-group row">
                                        <div class="container pimgholder">
                                            <label for="imgInp">
                                                <div>
                                                    <p class="img-top center" style="vertical-align: central;">Upload<br> Profile Image</p>
                                                </div>
                                                @if (Model.Id == null)
                                                {
                                                    <img id="imge" src="~/resources/writer-blogger-author.png" alt="Admin" class="rounded-circle profilimg" width="200" height="200">

                                                }
                                                else
                                                {
                                                    <img id="imge" src="@BrukerInnhold.Profilbilde" alt="Admin" class="rounded-circle profilimg" width="200" height="200">

                                                }

                                            </label>
                                            <input type="file" class="img" id="imgInp" name="files" accept="image/*" style="display: none">
                                        </div>
                                    </div>

                                    <div style="text-align: center;">
                                        <p>Profile Image</p>
                                    </div>

                                    <div class="modal" id="myprofilecrop" tabindex="-1" role="dialog" aria-labelledby="cropmodel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">

                                                    <h4 class="modal-title text-center" id="cropmodel">Update Profile Picture</h4>
                                                </div>
                                                <div>
                                                    <div class="modal-body text-center">
                                                        <div id="views" class="m-t-15"></div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button id="cropbutton" class="btn btn-primary" type="submit">Save</button>
                                                        <button id="rotatebutton" class="btn btn-default" type="button">Rotate</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @if (Model.Id != null)
                {
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Email" />
                    <input type="hidden" asp-for="NumberOfNotifications" />
                    <input type="hidden" asp-for="likeRatio" />
                }


                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="rowinfo">
                                @if (Model.Id == null)
                                {
                                    <hr>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label asp-for="Email"class="control-label" style="margin-top: 4px">Email</label>
                                                <input asp-for="Email" class="form-control" />
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label" style="margin-top: 4px">Password</label>
                                                <input type="password" name="password" class="form-control" />
                                                <span class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label" style="margin-top: 4px">Retype password</label>
                                                <input type="password" name="passwordRetyp" class="form-control" />
                                                <span class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                                    </div>


                                }


                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Navn">Name</label>
                                            <input asp-for="Navn" class="form-control" placeholder="Enter your full name" />
                                            <span asp-validation-for="Navn" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Alder">Age</label>
                                            <input asp-for="Alder" class="form-control" style="width: 100px;" value="18" />
                                            <span asp-validation-for="Alder" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div> <!-- end col -->




                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Stilling">Trade</label>
                                            <input asp-for="Stilling" class="form-control" placeholder="e.g. Makeup Artist" />
                                            <span asp-validation-for="Stilling" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Bosted">Location</label>
                                            <input asp-for="Bosted" class="form-control" placeholder="Where do you live?" />
                                            <span asp-validation-for="Bosted" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label asp-for="Tlf">Phone</label>
                                            <input asp-for="Tlf" class="form-control" placeholder="Enter phone number" />
                                            <span asp-validation-for="Tlf" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label asp-for="Bio">About Me</label>
                                            <textarea asp-for="Bio" rows="4" cols="50" class="form-control" style="height:150px; margin-top: 5px" placeholder="Write something about yourself"></textarea>
                                            <span asp-validation-for="Bio" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                @if (Model.Id == null)
                                {
                                    <hr />
                                    <div class="form-check" style="text-align: center;">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" style="margin-top: 6px;">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            I agree to the CreationHub <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>
                                        </label>
                                    </div>
                                }
                                <hr />
                                <div style="text-align: center;">
                                    <button type="submit" value="Upload" class="buttons btn btn-primary form-control" style="width: 300px;">
                                        @(ViewData["Token"] == null? "Create new user" : "Update profile" )
                                    </button>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts{

    <script src="~/js/jcrop/jquery.Jcrop.min.js"></script>
    <script src="~/js/ImageCrop.js"></script>
    <partial name="_ValidationScriptsPartial" />
}
