﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@

@{

}

<style>
    .carousel-item {
        height: 10em;
        color: white;
    }

    .containere {
        position: relative;
        top: 60%;
        height: 10em;
        left: 0;
        right: 0;
    }

    .overlay-image {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-position: center;
        background-size: cover;
        border: 2px solid white;
    }

    .yo {
        position: absolute;
        bottom: 8px;
        left: 30px;
        font-size: 18px;
        color: white;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>



<div class="center">
    <h1  class="center" >Bilde Tittel</h1>
    <img src="~/lib/bilder/yeetle_nen.png" alt="innlegg" height="600" width="600" />
</div>

<div class="profil">
    <p class="display-4"><img src="lib/bilder/yeetle_nen.png" alt="brukerIkon" height="60" width="60" />Bruker skriver inn informasjon her </p>
    
</div>

<div class="kommentar felt">
    <p class="display-4" Skriv din kommentar her</p>
    <p>Ikke prioritet for øyeblikket</a>.</p>
</div>
