@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
}

<style>

    .hovedInnlegg {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .hovedInnlegg h1 {
        color: white;
    }

    .hovedInnlegg p {
        color: dimgray;
    }

    @* brukerikon og brukernavn sammen *@ 
    .innleggProfil {
        display: block;
        margin-top: 20px;
        margin-left: 300px;
        margin-right: 300px;
        margin-bottom: 20px;
    }

    .innleggProfil img {
        float: left;
        margin-right: 10px;
    }

    @*brukernavn ved siden av ikon*@ .innleggProfil p {
        display: block;
        padding-left: 20px;
        margin-left: 20px;
        color: white;
    }

    @* Beskrivelse tekst *@ p.solid {
        display: block;
        margin-top: 10px;
        margin-left: 300px;
        margin-right: 300px;
        border-style: solid;
        border-width: thin;
        border-color: dimgray;
        padding: 10px;
        clear: left;
        color: white;
    }
</style>


<script src="~/js/site.js"></script>
<div class="hovedInnlegg">
    <embed src="~/lib/pdfs/prosjektbeskrivelse.pdf" width="600" height="1000" />
</div>

<div class="innleggProfil">
    <img src="~/lib/bilder/Mageh.png" height="60" width="60" id="imgikon" />

    <p class="ikontxt">flygonfan</p>
</div>
<p class="solid">
    Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst
    Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst
    Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst
</p>


<div class="kommentarFelt">

</div>
