@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="bilde">
    <h1 class="display-4">Bilde Tittel</h1>
    <img src="~/lib/bilder/yeetle_nen.png" alt="innlegg" height="600" width="600" />
</div>

<div class="profil">
    <h1 class="display-4">Bruker skriver inn informasjon her</h1>
    <img src="lib/bilder/yeetle_nen.png" alt="brukerIkon" height="60" width="60"/>
</div>

<div class="kommentar felt">
    <h1 class="display-4"Skriv din kommentar her</h1>
    <p>Ikke prioritet for øyeblikket</a>.</p>
</div>


