<style>
    .music_player {
        margin: 2px;
        float: left;
        width: 300px;
        height: 300px;
        overflow: hidden;
        position: relative;
        display: block;
    }





    .fuck {
        min-height: 100%;
        min-width: 100%;
    }

    .play_button_div {
        background-color: #fff;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        opacity: 0;
        display: block;
    }

    .play_button {
        position: absolute;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-left: 100px;
        margin-right: 100px;
        opacity: 0;
        width: 100px;
        height: 100px;
    }

    [1:05 PM]
    .play_button:active {
        transform: scale(.95);
        filter: brightness(50%);
    }

    .music_player:hover .play_button {
        opacity: 1;
    }


    .music_player:hover .play_button_div {
        opacity: .6;
    }
</style>

<style>
    body{
        margin-top: 60px;
    }

    .small {
        width: 50%;
        height: 50%;
    }

    .hovedInnlegg {
        text-align:center;
        margin-left: auto;
        margin-right: auto;

    }

    .tekstInnlegg{
        height: 95vh;
        width: 100%;
    }

    .bildeInnlegg{
        height: 600px;
        width: 600px;
    }

    .hovedInnlegg h1 {
        color: white;
    }

    .hovedInnlegg p {
        color: dimgray;
    }

    @* brukerikon og brukernavn sammen *@ .innleggProfil {
        display: block;
        margin-top: 20px;
        margin-left: 300px;
        margin-right: 300px;
        margin-bottom: 20px;
    }

    .innleggProfil img {
        float: left;
        margin-right: 10px;
    }

    @*brukernavn ved siden av ikon*@
    .innleggProfil p {
        display: block;
        padding-left: 20px;
        margin-left: 20px;
        color: white;

    }

    @* Beskrivelse tekst *@ p.solid {
        display: block;
        margin-top: 10px;
        margin-left: 300px;
        margin-right: 300px;
        border-style: solid;
        border-width: thin;
        border-color: dimgray;
        padding: 10px;
        clear: left;
        color: white;
    }

</style>



<body style="background-color: rgb(45, 45, 45)">

    @*Klassen inneholder Tittel, opplastingsdato, og hovedinnlegget (bilde eller pdf)*@

    <div class="hovedInnlegg">

                <h1 onclick="">Tittel</h1>
                <div class="music_player">
                    <div class="play_button_div"></div>
                    <img id="sangi" class="play_button shadowed" src="https://www.clipartmax.com/png/middle/134-1347519_youtube-png-play-pictures-png-images-play-button-png.png" onclick='spillAv("sang", this.id); visSang("sangnavn", "artist")' />
                    <audio id="sang" class="lydspor" preload="metadata" ontimeupdate="timer(this.id); var minutter = Math.floor(this.currentTime / 60); var sekunder = Math.floor(this.currentTime - minutter * 60); var minutter1 = Math.floor(this.duration / 60); var sekunder1 = Math.floor(this.duration - minutter1 * 60); document.getElementById('tracktime').innerHTML = minutter + ':' + ('0' + sekunder).slice(-2); document.getElementById('trackduration').innerHTML = minutter1 + ':' + ('0' + sekunder1).slice(-2);" src="https://firebasestorage.googleapis.com/v0/b/bachelor-it-97124.appspot.com/o/images%2FPok%C3%A9mon%20Theme%20Song.mp3?alt=media&token=bccacd1c-ed6a-4050-8745-b1ee3bb50f96%22%3E</audio>
                    <img class="fuck" src="https://gameriv.com/wp-content/uploads/2021/01/Untitled-1-23-696x392.jpg" />
                    <p id="sangnavn">Pokémon Theme</p>
                    <p id="artist">IDFK</p>
                </div> 


       
    </div>
    <div class="innleggProfil">
        <img src="~/lib/bilder/Mageh.png" height="60" width="60" id="imgikon" />
        <p class="ikontxt"><u>flygonfan</u> <br> Freelancer </p>
    </div>
    <p class="solid">
        Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst
        Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst
        Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst
        Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst
        Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst
    </p>

    <div class="kommentarFelt">

    </div>

    <script src="~/js/bildeInnlegg.js">
    </script>

    <script>
        function spillAv(sang, toggle) {
            var audio = document.getElementsByClassName('lydspor'),
                i = audio.length;
            var playpause = document.getElementsByClassName("play_button");
            var lyd = document.getElementById(sang);
            var loggle = document.getElementById(toggle);
            var spiller = document.getElementById("test").style;



            if (lyd.paused) {
                while (i--) {
                    audio[i].pause();
                    playpause[i].src = "https://www.clipartmax.com/png/middle/134-1347519_youtube-png-play-pictures-png-images-play-button-png.png"
                };
                spiller.transition = "all .5s ease";
                spiller.bottom = "0";
                loggle.src = "https://lh3.googleusercontent.com/proxy/2AZVDzgE1WACW2-1uV6muHMv8iOicO6-ggoO09EXLE7wemm0ffzq8I4by1A0iWnhM1259fhGsjcDCgnFExgvCsM9CE-7HZbOPirOFwk0-LDHyfnuk5YX0s54RpwCBWg"
                lyd.play();
            }
            else {
                spiller.transition = "all .5s ease";
                spiller.bottom = "-70px";
                loggle.src = "https://www.clipartmax.com/png/middle/134-1347519_youtube-png-play-pictures-png-images-play-button-png.png"
                lyd.pause();
            }


        };
    </script>
</body>
