
@{
    ViewData["Title"] = "Nav_Innlegg";

}

<style>
    .small {
        width: 50%;
        height: 50%;
    }

    .hovedInnlegg {
        text-align:center;
        margin-left: auto;
        margin-right: auto;

    }

    .bildeInnlegg{
        height: 600px;
        width: 600px;
    }

    .hovedInnlegg h1 {
        color: white;
    }

    .hovedInnlegg p {
        color: dimgray;
    }

    @* brukerikon og brukernavn sammen *@ .innleggProfil {
        display: block;
        margin-top: 20px;
        margin-left: 300px;
        margin-right: 300px;
        margin-bottom: 20px;
    }

    .innleggProfil img {
        float: left;
        margin-right: 10px;
    }

    @*brukernavn ved siden av ikon*@
    .innleggProfil p {
        display: block;
        padding-left: 20px;
        margin-left: 20px;
        color: white;

    }

    @* Beskrivelse tekst *@ p.solid {
        display: block;
        margin-top: 10px;
        margin-left: 300px;
        margin-right: 300px;
        border-style: solid;
        border-width: thin;
        border-color: dimgray;
        padding: 10px;
        clear: left;
        color: white;
    }

</style>


FirebaseDB db = new FirebaseDB

<body style="background-color: rgb(46, 46, 46)">

    @*Klassen inneholder Tittel, opplastingsdato, og hovedinnlegget (bilde eller pdf)*@
    
    <div class="hovedInnlegg">
        @{
            var kategori = "Tekst";
            if (kategori.Equals("Kunst"))
            {

                <h1 onclick="">Tittel</h1>
                <p>13.02.2021</p>
                <img src="~/lib/bilder/yeetle_nen.png" class="small" alt="error" id="innlegg" />

            }
            else if (kategori.Equals("Tekst"))
            {
                <embed src="~/lib/pdfs/prosjektbeskrivelse.pdf" width="600" height="1000" />
            }
            else if (kategori.Equals("Musikk"))
            {

            }
        }
    </div>
    <div class="innleggProfil">
        <img src="~/lib/bilder/Mageh.png" height="60" width="60" id="imgikon" />
        <p class="ikontxt"><u>flygonfan</u> <br> Freelancer </p>
    </div>
    <p class="solid">
        Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst
        Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst
        Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst
        Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst
        Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst Tekst
    </p>

    <div class="kommentarFelt">

    </div>

    <script src="~/js/bildeInnlegg.js">
    </script>
</body>


