@model Portefolio_webApp.Models.Innlegg;
<link href="~/css/Upsert_Innlegg.css" rel="stylesheet" />

<h2 class="text-info">@(Model.Id == null ? "Registrer" : "Rediger") Innlegg</h2>
<br />

<style>
    #bildekategori {
        display: none;
    }

    #musikkategori {
        display: none
    }

    #tekstkategori {
        display: none;
    }

    #subkat {
        
    }

    #subkatdiv {
       visibility: hidden;
       position: absolute;
    }

   
    .radio {
        display: inline-block;
        width: 24%;
        min-width: 125px;
        height: 70px;
        background-color: white;
        border-radius: .25rem;
        cursor: pointer;
        margin: 2px 4.7px 2px 0;
        cursor: pointer;
    }

        .radio.active, .radio:active {
            background-color: #0275d8;
            color: white;
        }

        
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>

    $(function () {
        $('.radio').removeClass('active');
        $("#radio-dummy").addClass('active');
        $('.radio').on('click', function () {
            $('.radio').removeClass('active');
            $(this).addClass('active');
        });
    });
   

    function fileValidation() {
        var file = document.getElementById("input-file").value;
        

        var validImage = /(\.jpg|\.jpeg|\.png|\.gif)$/i;
        var validAudio = /(\.mp3)$/i;
        var validTekst = /(\.pdf)$/i;

        if (validImage.exec(file)) {
            document.getElementById('kategoriVerdi').value = "Bilde";
            document.getElementById('bildekategori').style.display = "inline-block";
            document.getElementById('musikkategori').style.display = "none";
            document.getElementById('tekstkategori').style.display = "none";
            document.getElementById('subkatdiv').style.visibility = "visible";
            document.getElementById('subkatdiv').style.position = "relative";            document.getElementById("kategori-value").value = "";
        }
        else if (validAudio.exec(file)) {
            document.getElementById('kategoriVerdi').value = "Lyd";
            document.getElementById('musikkategori').style.display = "inline-block";
            document.getElementById('bildekategori').style.display = "none";
            document.getElementById('tekstkategori').style.display = "none";
            document.getElementById('subkatdiv').style.visibility = "visible";
            document.getElementById('subkatdiv').style.position = "relative";            document.getElementById("kategori-value").value = "";
            document.getElementById('kategoriVerdi').value = "";
        }
        else if (validTekst.exec(file)) {
            document.getElementById('kategoriVerdi').value = "Tekst";
            document.getElementById('tekstkategori').style.display = "inline-block";
            document.getElementById('subkat').style.display = "block";
            document.getElementById('bildekategori').style.display = "none";
            document.getElementById('musikkategori').style.display = "none";
            document.getElementById('subkatdiv').style.visibility = "visible";
            document.getElementById('subkatdiv').style.position = "relative";
            document.getElementById("kategori-value").value = "";
        }
        else
            document.getElementById('file-type-test').innerHTML = "Uh oh";
        document.getElementById("kategori-value").value = "";
    }



   

    function radio(id) {
        var bilde = /(Fotografi|Digital Art|Traditional Art|3D)$/i;
        var lyd = /(Musikk|Lydeffekter|Voice Acting|Audiobook)$/i;
        var tekst = /(Fiction|Non-Fiction)$/i;

        var verdi = document.getElementById(id).value;

        if (bilde.exec(verdi)) {
            document.getElementById("kategori-value").value = verdi;

        }
        else if (lyd.exec(verdi)) {
            document.getElementById("kategori-value").value = verdi;

        }
        else if (tekst.exec(verdi)) {
            document.getElementById("kategori-value").value = verdi;

        }
    }

</script>



<div class="border container" style="padding:30px;">
    <form class="whitetext" method="post" ,, new enctype="multipart/form-data">
        @if (Model.Id == null)
        {
<input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="Klokkeslett" />
                                <input type="hidden" asp-for="EierId" />
                                                <input type="hidden" asp-for="Tagger" />
                                                                <input type="hidden" asp-for="FilStørrelse" />
                                                                                <input type="hidden" asp-for="IkonURL" />}



        @Html.TextBox("file", "input-file", new { type = "file", id = "input-file", accept = "image/png|image/jpeg|image/jpg|image/gif|audio/mp3|application/pdf", oninput = "fileValidation()" }) <br />





        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Kategori"></label>
            </div>
            <div class="col-9">
                <input asp-for="Kategori" class="form-control" id="kategoriVerdi" />
                <span asp-validation-for="Kategori" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row" id="subkatdiv">
            <div class="col-3"  id="subkat">
                <label asp-for="SubKategori" ></label>
            </div>

            <button type="button" class='radio active' id="radio-dummy" value="Fotografi" style="display: none"></button>


            <div id="bildekategori" class="col-9">
                <button type="button" class='radio' id="radio1" value="Fotografi" onclick='radio(this.id)'>Fotografi</button>
                <button type="button" class='radio' id="radio2" value="Digital Art" onclick="radio(this.id)">Digital Art</button>
                <button type="button" class='radio' id="radio3" value="Traditional Art" onclick="radio(this.id)">Traditional Art</button>
                <button type="button" class='radio' id="radio4" value="3D" onclick="radio(this.id)">3D</button>


            </div>
            <div id="musikkategori">
                <button type="button" class='radio' id="radio5" value="Musikk" onclick="radio(this.id)">Musikk</button>
                <button type="button" class='radio' id="radio6" value="Lydeffekter" onclick="radio(this.id)">Lydeffekter</button>
                <button type="button" class='radio' id="radio7" value="Voice Acting" onclick="radio(this.id)">Voice Acting</button>
                <button type="button" class='radio' id="radio8" value="Audiobook" onclick="radio(this.id)">Audiobook</button>

            </div>
            <div id="tekstkategori">
                <button type="button" class='radio' id="radio9" value="Fiction" onclick="radio(this.id)">Fiction</button>
                <button type="button" class='radio' id="radio10" value="Non-Fiction" onclick="radio(this.id)">Non-Fiction</button>
            </div>
        </div>

        <input asp-for="SubKategori" id="kategori-value" style="display: none" />


        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Tittel"></label>
            </div>
            <div class="col-6">
                <input asp-for="Tittel" class="form-control" />
                <span asp-validation-for="Tittel" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Beskrivelse"></label>
            </div>
            <div class="col-6">
                <input asp-for="Beskrivelse" class="form-control" />
                <span asp-validation-for="Beskrivelse" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-3 offset-3">
                <button type="submit" class="btn btn-primary form-control">
                    @(Model.Id == null ? "Registrer" : "Oppdater")
                </button>
            </div>
            <div class="col-3">
                <a asp-controller="Home" asp-action="BrowseSide" class="btn btn-success form-control">Back to List</a>
            </div>
        </div>
    </form>
</div>

@section Scripts{

    <partial name="_ValidationScriptsPartial" />
}