@model Portefolio_webApp.Models.Innlegg;

<br />
<h2 class="text-info">@(Model.Id == null ? "Registrer" : "Rediger") Innlegg</h2>
<br />

<div class="border container" style="padding:30px;">
    <form method="post">
        @if (Model.Id == null)
        {
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Klokkeslett" />
            <input type="hidden" asp-for="EierId" />
            <input type="hidden" asp-for="Tagger" />
            <input type="hidden" asp-for="FilStørrelse" />
            <input type="hidden" asp-for="IkonURL" />
        }
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Tittel"></label>
            </div>
            <div class="col-6">
                <input asp-for="Tittel" class="form-control" />
                <span asp-validation-for="Tittel" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Beskrivelse"></label>
            </div>
            <div class="col-6">
                <input asp-for="Beskrivelse" class="form-control" />
                <span asp-validation-for="Beskrivelse" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Kategori"></label>
            </div>
            <div class="col-6">
                <input asp-for="Kategori" class="form-control" />
                <span asp-validation-for="Kategori" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3 offset-3">
                <button type="submit" class="btn btn-primary form-control">
                    @(Model.Id == null ? "Oppdater" : "Registrer")
                </button>
            </div>
            <div class="col-3">
                <a  asp-controller="Home" asp-action="BrowseSide" class="btn btn-success form-control">Back to List</a>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
